{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>This is my personal website. It will be used for numerous things such as:
    <ul>
        <li>Learning web development with Flask</li>
        <li>Learning to use GCP</li>
        <li>Learning to deploy machine learning models</li>
        <li>Blogging</li>
        <li>Practice applying different machine learning models</li>
        <li>Learning microservice architectures and best practices</li>
    </ul>  
</p>

{% endblock %}
