{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>HaleWorld</h1>
    <p class="lead">This is the personal website John C. Hale, created with Flask and deployed to Google Application Engine.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ML API Practice</h2>
        <p>
            I'm working on building REST APIs. There are several built into this application. 
            Two involve linear regression models, and one a logistic regression. The status page for the APIs can be found in the link below.
        </p>
        <p><a class="btn btn-default" href="https://haleworld.uc.r.appspot.com/api">Status API &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Github</h2>
        <p>You can find my GitHub here. The repository containing the code for this site is called mlaas gcp.</p>
        <p><a class="btn btn-default" href="https://github.com/H4L3ST0RM">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>Feel free to add me on LinkedIn, you can find my profile in the link below. I'm always excited to meet new people.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/john-c-hale/">LinkedIn &raquo;</a></p>
    </div>
</div>

{% endblock %}
